body{
    margin: 0px;
}
nav{
    background-color: rgb(226, 239, 239);
    width:100%;
    display: flex;
    margin-right: 3rem;
    justify-content: space-between;
    
}
.logo{
    margin: 10px;
}
img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.options{
    font-weight: bold;
    margin-top:2.5rem;
    margin-bottom: 2.5rem;
    width: 25%;
}
.options a{
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    color: rgb(95, 88, 88);
}
.options a:hover{
    text-decoration: underline;
}
.bar{
    width: 60%;
    text-align: right;
}
.bar img{
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom:2rem
}


hr{
    margin: 0px;
}
main{
    background-color:rgb(212, 240, 240) ;
}
h1{
    padding-top: 10px;
    margin: 0px;
    text-align: center;
}
.internships{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.card{
    margin: 20px;
    padding: 30px;
    text-align: center;
    border: 5px solid rgb(100, 87, 87);
    border-radius: 5%;
    box-shadow: 0.6rem 0.6rem rgb(152, 149, 149);
}

.card:hover{
    cursor: pointer;
    background-color:#fbaf59;
    transform: scale(1.05);
}

button{
    cursor: pointer;
    font-size: 1.3rem;
    border-color: black;
    border-radius: 8px;
    background-color: rgb(15, 241, 106);
    color: rgb(0, 0, 0);
}



footer{
    background-color: rgb(209, 252, 252);
}
footer>h2{
    padding-top: 10px;
    margin:0PX;
    text-align: center;
}
.ftr{
    text-align: center;
    margin:20px;
}
.connections:hover{
    transform: scale(1.02);
}
